/*Подключение шрифтов*/

@font-face {
    font-family: "Roboto";
    src:
        local("Roboto-Regular"), 
        url("fonts/Roboto-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src:
        local("Roboto-Italic"), 
        url("fonts/Roboto-Italic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src:
        local("Roboto-Bold"), 
        url("fonts/Roboto-Bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src:
        local("Roboto-BoldItalic"), 
        url("fonts/Roboto-BoldItalic.woff") format("woff");
    font-style: italic;
    font-weight: bold;
}

/*ОБЩИЕ СТИЛИ*/

body {
    padding: 0;
    margin: 0;
      
    font-size: 16px;
    color: #323232;
    font-family: "Roboto", sans-serif;
    
    background-color: white;
}

    /*фоны для слайдера*/
.page-background {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 78px 0;
}
    /*промо надпись*/
.page-background::before {
    content: "";
    position: absolute;
    top: 392px;
    left: 265px;
    display: inline-block;
    max-width: 670px;
    
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    line-height: 60px;
    font-weight: 700;
}

.cream1-bg {
    background-color: #849d8f;
    background-image: url("img/cream1.png");
}

.cream1-bg::before {
    content: "Крем-брюле и пломбир с малиновым джемом";
}

.cream2-bg {
    background-color: #8996a6;
    background-image: url("img/cream2.png");
}

.cream2-bg::before {
    content: "Шоколадный пломбир и лимонный сорбет";
}

.cream3-bg {
    background-color: #9d8b84;
    background-image: url("img/cream3.png");
}

.cream3-bg::before {
    content: "Пломбир с помадкой и клубничный щербет";
}

    /*центровщик*/
.container {
    margin: 0 auto;
    max-width: 1146px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

    /*общие стили кнопок*/

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color:  #ffffff;
    text-decoration: none;
    text-align: center;
    
    border: 0;
    border-radius: 50px;
    
    background-color: #f26843; 
    background: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    background: -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    background: -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    background: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
    
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64); 
}

.btn:hover {
    box-shadow: 
        inset 0 0 0 50px rgba(255, 255, 255, 0.1),
        0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn:active {
    background-color:  #ffffff;
    background: -webkit-linear-gradient(90deg, #f26843 0%, #e74a35 100%);
    background: -moz-linear-gradient(90deg, #f26843 0%, #e74a35 100%);
    background: -o-linear-gradient(90deg, #f26843 0%, #e74a35 100%);
    background: -ms-linear-gradient(90deg, #f26843 0%, #e74a35 100%);
    background: linear-gradient(0deg, #f26843 0%, #e74a35 100%);
    background-color:  rgba(0, 0, 0, 0.07);
    box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

/*СТИЛИ ШАПКИ*/

.page-header {
    padding-top: 9px;
    color:  #ffffff;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-logo {
    width: 154px;
    height: 64px;
    float: left;
    margin-right: 10px;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-top: 14px;
    padding: 0;
    list-style: none;
}

.main-nav > li {
    display: inline-block;
    position: relative;
}


.main-nav > li > a {
    display: block;
    padding: 7px 14px;
    border-radius: 50px;
    
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    
}

.main-nav > li > a:hover {
    color: #323232;
    background-color: white;
}

.main-nav > li > a > span {
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}

.main-nav > li > a:active {
   box-shadow: inset 0 1px 5px; 
}

.main-sub-nav {
    position: absolute;
    left: -7px;
    top: 37px;
    z-index: 10;
    
    display: none;
    box-sizing: border-box;
    width: 143px;
    padding: 0;
    padding-bottom: 6px;
    margin: 0;
    border-radius: 5px;
    
    list-style: none;
    
    font-size: 14px;
    line-height: 16px;
    color:  #323232;
    
    background-color:  #f8f7f4;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); 
    
}

.main-nav > li:hover .main-sub-nav {
    display: block;
}

.main-nav > li:hover .main-sub-nav::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 143px;
    height: 20px;
}

.main-sub-nav li span {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 13px;
    padding-bottom: 12px;
    
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.main-sub-nav li hr {
    margin: 0;
    margin-bottom: 8px;
    margin-left: 9px;
    margin-right: 9px;
    border-bottom: 1px solid #d0cfcd;
    border-top: 0;
}

.main-sub-nav > li > a {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 20px 7px 20px;
    width: 100%;
    
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: inherit;
    font-weight: normal;
    text-decoration: none;
}

.main-sub-nav > li:not(:first-child):hover {
    background-color:  #fbded8;
}

.main-sub-nav > li:not(:first-child):active {
    background-color:  #d07058;
    color: white;
}

    /*Кнопки*/

.header-users-btn {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin-top: 14px;
    float: right;
}

.btn-header {
    position: relative;
    margin-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    text-align: left;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
}


.btn-header:hover {
    background-color: black;
    filter: invert(1);
    box-shadow: none;
}

.btn-header:active {
    box-shadow: inset 0 1px 5px white;
    
}

.header-login {
    padding-left: 44px;
    padding-right: 17px;
}

.btn-header::before {   
    position: absolute;
    top: 6px;
    left: 16px;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    z-index: 1000;
}

.header-login::before {
    top: 6px;
    left: 16px;
    background-position: -122px -106px;
}

.header-cart::before {
    top: 6px;
    left: 16px;
    background-position: -5px -5px;
}

.main-search::before {
    top: 7px;
    left: 8px;
    background-position: -189px -64px;
}

.header-cart {
    padding-left: 44px;
    padding-right: 34px;
}

.main-search {
    display: block;
    width: 32px;
}

    /* контакты в шапке */
.header-contacts {
    display: inline-block;
    float: right;
    margin-top: -2px;
    
    text-align: right;
    font-weight: bold;
}

.header-schedule {
    font-size: 14px;
    line-height: 16px;
}

.header-phone {
    display: inline-block;
    margin-top: 4px;
    font-size: 22px;
    line-height: 24px;
}

    /*Промо блок*/
.promo {
    clear: both;
    height: 530px;
    position: relative;
}

.promo-slider-btns {
    position: absolute;
    bottom: 65px;
    left: 0;
}

.slider-btn {
    display: none;
}

.slider-btn + label {
    position: relative;
    cursor: pointer;
    margin-right: 29px;
}

.slider-btn + label::before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border: 2px solid white;
    border-radius: 50%;
}
.slider-btn + label:hover::before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgba(248, 247, 244, 0.4);
}

.slider-btn + label::before:hover {
    background-color: red;
}

.slider-btn:checked + label:before {
  background-color: #fff;
}

.promo-btn {
    position: absolute;
    left: 433px;
    bottom: 41px;
    width: 280px;
    height: 64px; 
    padding: 11px 0;
    
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color:  #ffffff;
    font-size: 32px;
    text-align: center;
    line-height: 42px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

/*баннеры*/

.banners {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    
    font-family: "Roboto", sans-serif;
    color:  #ffffff;
    text-align: left;
    font-weight: 700;
}

.banner-item {
    position: relative;
    box-sizing: border-box;
    width: 560px;
    min-height: 229px;
    padding: 15px 15px 80px 20px;
    border-radius: 15px;
    
    color: white;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-item-title {
    margin: 0;
    padding: 0;
    font-size: 35px;
}

.banner-item-content {
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-top: 14px
}

.post-raspberries {
    background-color: #b70e40;
    background-image: url("img/raspberries.jpg");
}

.post-chocolate {
    background-color: #3c1a09;
    background-image: url("img/chocolate.jpg");
}

.banner-item-btn {
    position: absolute;
    bottom: 24px;
    right: 21px;
    display: inline-block;
    padding: 13px 22px;
    
    line-height: 20px;
    font-size: 18px;   
}

/*Оформление блока с хитами*/

.hot-offers {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 37px;
}

.hot-offers-item {
    position: relative;
}

.hot-offers-image {
    width: 266px;
    height: 266px;
    border-radius: 50%;
    background-position: center;
}

.hot-offers-hit {
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
}

.hot-offers-description {
    max-width: 266px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-align: center;
    color: white;
    line-height: 22px;
    font-weight: 500;
    text-decoration: underline;
}

.hot-offers-price {
    position: absolute;
    top: 208px;
    left: 0;
    color: white;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
}

.hot-offers-price-units {
    font-size: 30px;
}

/*Блок с преимуществами*/

.features {
    box-sizing: border-box;
    width: 1146px;
    min-height: 306px;
    margin-bottom: 40px;
    padding: 25px 20px;
    padding-bottom: 0;
    border-radius: 15px;
    
    font-family: "Roboto", sans-serif;
    color:  #323232;
    background-color: #f0e5ce;
    background-image: url("img/features-bg.jpg");
    
}

.features-title {
    margin: 0;
    margin-bottom: 21px;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-item {
    position: relative;
    width: 483px;
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
    padding-left: 56px;
    line-height: 22px;
}

.feature-item::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -13px;
    width: 49px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center;
}

.feature1::before {
    background-image: url("img/feature1.png");
}

.feature2::before {
    background-image: url("img/feature2.png");
}

.feature3::before {
    background-image: url("img/feature3.png");
}

.feature4::before {
    background-image: url("img/feature4.png");
}

/* Оформление блога */

.blog-item {
    background-image: url("img/new-in-blog.jpg");
    background-size: cover;
    padding: 20px;
    margin-right: 26px;
    font-family: "RobotoRegular", sans-serif;
}

.blog-item-title {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    font-family: "RobotoBold", sans-serif;
    text-decoration: underline;
    width: 285px;
}

.subscribe-bg {
    background-image: url(img/border-subscribe.jpg);
    background-size: cover;
    background-position: left;
    margin-bottom: 15px;
}

.subscribe {
    background-color:  #f8f7f4;
    padding: 31px 19px;
    font-family: "RobotoRegular", sans-serif;
    width: 547px;
    height: 217px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 6px;
    margin-left: 6px;
}

.subscribe-description {
    margin: 0;
    padding: 0;
}

.subscribe-email {
    margin-top: 38px;
    width: 351px;
    height: 42px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid rgba(178, 178, 178, 52);
    background-color:  #ffffff;
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    color:  #999999;
}

.subscribe-btn {
    float: right;
    margin-top: 38px;
    width: 129px;


}

/* Блок контактов */

.contacts {
    background-image: url(img/map.jpg);
    width: 1200px;
    height: 430px;
    padding: 63px 27px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
.contacts::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 140px;
    background-image: url(img/mark.png);
    top: 139px;
    left: 266px;
}

.contacts-form {
    width: 302px;
    height: 305px;
    border-radius: 15px;
    background-color:  rgba(255, 255, 255, 0.98);
    float: right;
    box-sizing: border-box;
    padding: 31px 25px;
    font-family: "RobotoRegular", sans-serif;
    position: relative;
}

.contacts-form > span {
    font-size: 14px;
}

.contacts-form .contacts-form-adress,
.contacts-form .contacts-form-phone {
    font-family: "RobotoBold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
}

.contacts-form .contacts-form-adress {
    margin-bottom: 15px;
}

.contacts-form .contacts-form-phone {
    margin: 6px 0 2px 0;
}

.contacts-form-btn {
    width: 252px;
    position: absolute;
    bottom: 31px;
    right: 25px;
}

.contacts-form-phone {
    line-height: 24px;
}

/* стили подвала */

.page-footer {
    height: 68px;
    box-sizing: border-box;
}

.footer-socials {
    margin-top: 26px;
    display: inline-block;
}

.social {
    width: 34px;
    height: 34px;
    display: inline-block;
    float: left;
    margin-right: 11px;
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.social-tw {
    background-image: url(img/tw.png);
}

.social-inst {
    background-image: url(img/inst.png);
}

.social-fb {
    background-image: url(img/fb.png);
}

.social-vk {
    background-image: url(img/vk.png);
}

.footer-links {
    display: flex;
    flex-wrap: nowrap;
    width: 500px;
    margin-left: 225px;
    padding: 0;
}

.footer-links-item {
    font-family: "Roboto", sans-serif;
    color:  #ffffff;
    font-size: 13px;
    position: relative;
}

.footer-links-item:hover {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.footer-links-item:active {
    color: rgba(255, 255, 255, 0.8);
}

.footer-links-item:hover::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 13px;
    background-image: url(img/heart.png);
    background-position: center;
    background-repeat: no-repeat;
    top: 4px;
    left: -22px;
}

.footer-links-item:active::before {
    opacity: 0.8;
}

.copyright {
    margin-top: 9px;
    float: right;
}

.copyright span {
    font-family: "Roboto", sans-serif;
    color:  #fefefe;
    font-size: 12px;
}
.copyright span a {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}