/*Подключение шрифтов*/
@font-face {
    font-family: "RobotoRegular";
    src: url("fonts/RobotoRegular/RobotoRegular.eot");
    src: url("fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoBold";
    src: url("fonts/RobotoBold/RobotoBold.eot");
    src: url("fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    padding: 0;

    /*text style*/   
    font-size: 16px;
    color: #323232;
}
.container {
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 10px;
    padding-bottom: 25px;
    width: 1200px;
    
}

.contain {
    margin: 0 auto;
    max-width: 1200px;
}

.bg1 {
    background-color: #849d8f;
}

.bg2 {
    background-color: #111ddf;
}

.bg3 {
    background-color: #84eeef;
}

.page-header {
    color: #ffffff;
    font-family: "RobotoBold", sans-serif;
}

.header-logo {
    width: 154px;
    height: 64px;
    float: left;
    margin-right: 13px;
}

.main-nav {
    list-style: none;
    float:left;
    margin: 0;
    padding: 0;
    font-family: "RobotoBold", sans-serif;
    margin-top: 10px;
}
.main-nav li {
    float:left;
}

.main-nav li a {
    /*text style*/
    color:  #ffffff;
    line-height: 18px;
    text-align: left;
    margin: 9px 13px;
    text-decoration: none;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    display: block;  
}

.main-nav li a:hover {
    border: 1px solid white;
    border-radius: 50px;
    background-color: white;
    color: #323232;
    padding: 9px 13px;
    margin: 0;
}

.main-nav li a:active {
   opacity: 0.8;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*Кнопки*/
.btn {
    border-radius: 50px;
    background: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    background: -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    background: -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    background: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
    background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    display: inline-block;
    color:  #ffffff;
    font-family: "RobotoBold", sans-serif;
    text-decoration: none;
    border: 0;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    height: 44px;
    line-height: 44px;
}

.header-users-btn {
    margin-top: 10px;
    float: right;
    display: inline-block;
}

header-users-btn a {
    padding: 0;
    margin: 0;
}

.btn-header {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    margin-left: 10px;
    float: left;
    height: 33px;
    text-align: left;
    line-height: 33px;
    font-size: 14px;
    box-shadow: none;
    box-sizing: content-box;
    
}
.btn-header:not(.main-search) {
    padding-left: 44px;
}

.header-login {
    width: 62px;
    background-image: url("img/login.png");
    background-repeat: no-repeat;
    background-position: 16px 50%;
}

.header-cart {
    width: 86px;
    background-image: url("img/cart.png");
    background-repeat: no-repeat;
    background-position: 16px 50%;
}

.main-search {
    color: transparent;
    display: block;
    width: 33px;
    background-image: url("img/search.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

/* контакты в шапке */
.header-contacts {
    clear: both;
    display: inline-block;
    float: right;
    text-align: right;
}

.header-schedule {
    font-size: 14px;
}

.header-phone {
    font-size: 22px;
}

/*Промо блок*/
.promo {
    height: 600px;
    clear: both;
    position: relative;
}

.promo-slider-btns {
    position: absolute;
    bottom: 38px;
    left: 0;
}

.slider-btn {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.slider-btn + label {
    position: relative;
    cursor: pointer;
    margin-right: 29px;;
}

.slider-btn + label::before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border: 2px solid white;
    border-radius: 50%;
}

.slider-btn:checked + label:before {
  background-color: #fff;
}

.promo-btn {
    position: absolute;
    left: 433px;
    bottom: 16px;
    width: 280px;
    height: 64px; 
    padding: 0;
    
    /*стили текста*/
    
    font-family: "RobotoBold", sans-serif;
    color:  #ffffff;
    font-size: 32px;
    text-align: center;
    line-height: 64px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

/*баннеры*/

.banners {
    color:  #ffffff;
    font-family: "RobotoBold", sans-serif;
    text-align: left;
    margin-bottom: 40px;
}

.post {
    box-sizing: border-box;
    width: 560px;
    height: 229px;
    border-radius: 15px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
}

.post:first-child {
    margin-right: 26px;
}

.banner-item {
    padding: 23px 21px 23px 20px;
    position: relative;
}

.banner-item-title {
    margin: 0;
    padding: 0;
    font-size: 35px;
}

.banner-item-content {
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-top: 12px
}

.post-raspberries {
    background-image: url("img/raspberries.jpg");
}

.post-chocolate {
    background-image: url("img/chocolate.jpg");
}

.banner-item-btn {
    height: 45px;
    display: inline-block;
    line-height: 45px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 18px;
    position: absolute;
    bottom: 24px;
    right: 21px;
}

/*Блок с преимуществами*/

.features {
    border-radius: 15px;
    background-image: url("img/features-bg.jpg");
    box-sizing: border-box;
    width: 1146px;
    padding: 25px 20px;
    font-family: "RobotoRegular", sans-serif;
    min-height: 306px;
    margin-bottom: 40px;
}

.features-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.feature-item {
    margin: 0;
    padding: 0;
    position: relative;
    width: 483px;
    color:  #323232;
    font-size: 16px;
    float: left;
    margin-top: 20px;
    margin-left: 58px;
}

.feature-item:nth-child(odd) {
    margin-left: 80px;
}

.feature-item::before {
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    left: -58px;
    top: -15px;
    background-repeat: no-repeat;
    background-position: center;
}

.feature1::before {
    background-image: url("img/feature1.png");
}

.feature2::before {
    background-image: url("img/feature2.png");
}

.feature3::before {
    background-image: url("img/feature3.png");
}

.feature4::before {
    background-image: url("img/feature4.png");
}

/* Оформление блога */

.blog-item {
    background-image: url("img/new-in-blog.jpg");
    background-size: cover;
    padding: 20px;
    margin-right: 26px;
    font-family: "RobotoRegular", sans-serif;
}

.blog-item-title {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    font-family: "RobotoBold", sans-serif;
    text-decoration: underline;
    width: 285px;
}

.subscribe-bg {
    background-image: url(img/border-subscribe.jpg);
    background-size: cover;
    background-position: left;
    margin-bottom: 15px;
}

.subscribe {
    background-color:  #f8f7f4;
    padding: 31px 19px;
    font-family: "RobotoRegular", sans-serif;
    width: 547px;
    height: 217px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 6px;
    margin-left: 6px;
}

.subscribe-description {
    margin: 0;
    padding: 0;
}

.subscribe-email {
    margin-top: 38px;
    width: 351px;
    height: 42px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid rgba(178, 178, 178, 52);
    background-color:  #ffffff;
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    color:  #999999;
}

.subscribe-btn {
    float: right;
    margin-top: 38px;
    width: 129px;


}

/* Блок контактов */

.contacts {
    background-image: url(img/map.jpg);
    width: 1200px;
    height: 430px;
    padding: 63px 27px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
.contacts::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 140px;
    background-image: url(img/mark.png);
    top: 139px;
    left: 266px;
}

.contacts-form {
    width: 302px;
    height: 305px;
    border-radius: 15px;
    background-color:  rgba(255, 255, 255, 0.98);
    float: right;
    box-sizing: border-box;
    padding: 31px 25px;
    font-family: "RobotoRegular", sans-serif;
    position: relative;
}

.contacts-form > span {
    font-size: 14px;
}

.contacts-form .contacts-form-adress,
.contacts-form .contacts-form-phone {
    font-family: "RobotoBold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
}

.contacts-form .contacts-form-adress {
    margin-bottom: 15px;
}

.contacts-form .contacts-form-phone {
    margin: 6px 0 2px 0;
}

.contacts-form-btn {
    width: 252px;
    position: absolute;
    bottom: 31px;
    right: 25px;
}

.contacts-form-phone {
    line-height: 24px;
}

/* стили подвала */

.page-footer {
    height: 68px;
    box-sizing: border-box;
}

.footer-socials {
    margin-top: 26px;
    display: inline-block;
}

.social {
    width: 34px;
    height: 34px;
    display: inline-block;
    float: left;
    margin-right: 11px;
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.social-tw {
    background-image: url(img/tw.png);
}

.social-inst {
    background-image: url(img/inst.png);
}

.social-fb {
    background-image: url(img/fb.png);
}

.social-vk {
    background-image: url(img/vk.png);
}

.footer-links {
    list-style: none;
    margin-left: 225px;
    padding: 0;
    display: inline-block;
}

.footer-links tr td:nth-child(2) {
    padding-left: 32px;
}

.footer-links-item {
    font-family: "RobotoRegular", sans-serif;
    color:  #ffffff;
    font-size: 13px;
    position: relative;
}

.footer-links-item:hover {
    font-family: "RobotoBold", sans-serif;
}

.footer-links-item:active {
    color: rgba(255, 255, 255, 0.8);
}

.footer-links-item:hover::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 13px;
    background-image: url(img/heart.png);
    background-position: center;
    background-repeat: no-repeat;
    top: 4px;
    left: -22px;
}

.footer-links-item:active::before {
    opacity: 0.8;
}

.copyright {
    margin-top: 9px;
    float: right;
}

.copyright span {
    font-family: "RobotoRegular", sans-serif;
    color:  #fefefe;
    font-size: 12px;
}
.copyright span a {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}